Repository visdesignlab/Sanguine, pull requests merged in 2025-04, with the labels that each got.

#332 282 dumbbell charts
  frontend/src/Components/Charts/ChartAccessories/ComparisonLegend.tsx
  frontend/src/Components/Charts/ChartAccessories/CustomizedAxisOrdinal.tsx
  frontend/src/Components/Charts/DumbbellChart/DumbbellChart.tsx
  frontend/src/Components/Charts/DumbbellChart/WrapperDumbbell.tsx
  frontend/src/Presets/Constants.ts
Labels: frontend

#355 Full Page Png Screenshot Button (351)
  frontend/index.html
  frontend/package.json
  frontend/src/Components/Utilities/TopMenu/RegularModeMenu.tsx
  frontend/src/Dashboard.tsx
  frontend/src/Presets/StyledSVGComponents.ts
  frontend/yarn.lock
Labels: enhancement, frontend

#363 Fixing Chart Resizing Issues
  frontend/src/Components/Charts/DumbbellChart/WrapperDumbbell.tsx
  frontend/src/Components/Charts/HeatMap/WrapperHeatMap.tsx
  frontend/src/Components/Charts/ScatterPlot/WrapperScatter.tsx
  frontend/src/Components/Hooks/UseComponentSize.ts
Labels: bug, frontend

#369 Postop typo
  backend/api/views/sql_queries/mariadb.py
  frontend/src/Presets/DataDict.ts
Labels: bug, frontend

#368 Procedure Selection Data Missing (365)
  backend/api/views/sql_queries/mariadb.py
Labels: bug, frontend

#375 Fix: Dumbbell Charts Clear If Without Data (#365)
  frontend/src/Components/Charts/DumbbellChart/DumbbellChart.tsx
Labels: bug, frontend

#374 Fix: Procedure Button Errors & Styles (#311, #336)
  frontend/src/Components/Utilities/LeftToolBox/SurgeryListViewer.tsx
  frontend/src/Components/Utilities/LeftToolBox/SurgeryRow.tsx
Labels: bug, frontend

#366 Fix: Missing Vent Data
  backend/api/views/sql_queries/mariadb.py
Labels: bug, frontend

#367 Fix: True False Counts (#364)
  frontend/src/Components/Charts/HeatMap/WrapperHeatMap.tsx
Labels: bug, frontend

#373 Fix: Provider Names Now Appear (#371)
  frontend/src/Components/Charts/ChartAccessories/CustomizedAxisOrdinal.tsx
  frontend/src/Components/Charts/ChartAccessories/HeatMapAxisY.tsx
  frontend/src/Components/Charts/CostBarChart.tsx
  frontend/src/Components/Hooks/PrivateModeLabeling.tsx
Labels: bug, frontend
